<launch>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="5.0"/>
  <arg name="yaw" default="0.0" />

  <!--
    Currently the defaults set in inspection_world.launch put the
    robot on land.  Therefore we ignore the X and Y arguments and plop
    the robot on the water.  This allows us to run with "platform:=heron"
    and have the robot spawn in a sane location, rather than requiring
    the user to specify the X and Y values too.  Downside is that the
    Heron will _always_ spawn in the same place.
  -->
  <include file="$(find heron_gazebo)/launch/spawn_heron.launch">
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>
</launch>
