<?xml version="1.0" ?>
<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro $(find cpr_inspection_gazebo)/urdf/inspection_geometry.urdf.xacro
                  --inorder " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cpr_inspection_gazebo)/rviz/world.rviz" />
</launch>
