<launch>
    <arg name="track_type" default="Road" />
    <arg name="barrier_type" default="Racing" />
    <arg name="complexity" default="simple" />

    <include file="$(find gazebo_race_modules)/launch/spawn_world.launch" />

    <node name="$(arg track_type)_$(arg complexity)_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)1 -param $(arg track_type)_$(arg complexity)_description -x 0 -y 0 -z 0 -Y 0" />
    <node name="$(arg track_type)_$(arg complexity)_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)2 -param $(arg track_type)_$(arg complexity)_description -x 1 -y 0 -z 0 -Y 0" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)1 -param $(arg track_type)Corner_$(arg complexity)_description -x 2 -y 0 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_$(arg complexity)_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)3 -param $(arg track_type)_$(arg complexity)_description -x 2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)_$(arg complexity)_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)4 -param $(arg track_type)_$(arg complexity)_description -x 2 -y 2 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)2 -param $(arg track_type)Corner_$(arg complexity)_description -x 2 -y 3 -z 0 -Y -1.5707" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)3 -param $(arg track_type)Corner_$(arg complexity)_description -x 1 -y 3 -z 0 -Y 0" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)4 -param $(arg track_type)Corner_$(arg complexity)_description -x 1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_$(arg complexity)_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)5 -param $(arg track_type)_$(arg complexity)_description -x 0 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_$(arg complexity)_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)6 -param $(arg track_type)_$(arg complexity)_description -x -1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)5 -param $(arg track_type)Corner_$(arg complexity)_description -x -2 -y 2 -z 0 -Y 0" />
    <node name="$(arg track_type)_$(arg complexity)_spawner7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)7 -param $(arg track_type)_$(arg complexity)_description -x -2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)Corner_$(arg complexity)_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_$(arg complexity)6 -param $(arg track_type)Corner_$(arg complexity)_description -x -2 -y 0 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)_$(arg complexity)_spawner8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_$(arg complexity)8 -param $(arg track_type)_$(arg complexity)_description -x -1 -y 0 -z 0 -Y 0" />

    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)1 -param $(arg barrier_type)Edge_$(arg complexity)_description -x 0 -y 0 -z 0 -Y 0" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)2 -param $(arg barrier_type)Edge_$(arg complexity)_description -x 1 -y 0 -z 0 -Y 0" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)1 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x 2 -y 0 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)3 -param $(arg barrier_type)Edge_$(arg complexity)_description -x 2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)4 -param $(arg barrier_type)Edge_$(arg complexity)_description -x 2 -y 2 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)2 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x 2 -y 3 -z 0 -Y -1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)3 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x 1 -y 3 -z 0 -Y 0" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)4 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x 1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)5 -param $(arg barrier_type)Edge_$(arg complexity)_description -x 0 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)6 -param $(arg barrier_type)Edge_$(arg complexity)_description -x -1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)5 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x -2 -y 2 -z 0 -Y 0" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)7 -param $(arg barrier_type)Edge_$(arg complexity)_description -x -2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_$(arg complexity)_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_$(arg complexity)6 -param $(arg barrier_type)EdgeCurve_$(arg complexity)_description -x -2 -y 0 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)Edge_$(arg complexity)_spawner8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_$(arg complexity)8 -param $(arg barrier_type)Edge_$(arg complexity)_description -x -1 -y 0 -z 0 -Y 0" />
</launch>
