<launch>
    <arg name="track_type" default="Road" />
    <arg name="barrier_type" default="Racing" />

    <include file="$(find gazebo_race_modules)/launch/spawn_world.launch" />

    <node name="$(arg track_type)_complex_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex1 -param $(arg track_type)_complex_description -x 0 -y 0 -z 0 -Y 0" />
    <node name="$(arg track_type)_complex_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex2 -param $(arg track_type)_complex_description -x 1 -y 0 -z 0 -Y 0" />
    <node name="$(arg track_type)Corner_complex_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex1 -param $(arg track_type)Corner_complex_description -x 2 -y 0 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_complex_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex3 -param $(arg track_type)_complex_description -x 2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)_complex_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex4 -param $(arg track_type)_complex_description -x 2 -y 2 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)Corner_complex_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex2 -param $(arg track_type)Corner_complex_description -x 2 -y 3 -z 0 -Y -1.5707" />
    <node name="$(arg track_type)Corner_complex_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex3 -param $(arg track_type)Corner_complex_description -x 1 -y 3 -z 0 -Y 0" />
    <node name="$(arg track_type)Corner_complex_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex4 -param $(arg track_type)Corner_complex_description -x 1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_complex_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex5 -param $(arg track_type)_complex_description -x 0 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)_complex_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex6 -param $(arg track_type)_complex_description -x -1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg track_type)Corner_complex_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex5 -param $(arg track_type)Corner_complex_description -x -2 -y 2 -z 0 -Y 0" />
    <node name="$(arg track_type)_complex_spawner7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex7 -param $(arg track_type)_complex_description -x -2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)Corner_complex_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)Corner_complex6 -param $(arg track_type)Corner_complex_description -x -2 -y 0 -z 0 -Y 1.5707" />
    <node name="$(arg track_type)_complex_spawner8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg track_type)_complex8 -param $(arg track_type)_complex_description -x -1 -y 0 -z 0 -Y 0" />

    <node name="$(arg barrier_type)Edge_complex_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex1 -param $(arg barrier_type)Edge_complex_description -x 0 -y 0 -z 0 -Y 0" />
    <node name="$(arg barrier_type)Edge_complex_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex2 -param $(arg barrier_type)Edge_complex_description -x 1 -y 0 -z 0 -Y 0" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex1 -param $(arg barrier_type)EdgeCurve_complex_description -x 2 -y 0 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_complex_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex3 -param $(arg barrier_type)Edge_complex_description -x 2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)Edge_complex_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex4 -param $(arg barrier_type)Edge_complex_description -x 2 -y 2 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex2 -param $(arg barrier_type)EdgeCurve_complex_description -x 2 -y 3 -z 0 -Y -1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex3 -param $(arg barrier_type)EdgeCurve_complex_description -x 1 -y 3 -z 0 -Y 0" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex4 -param $(arg barrier_type)EdgeCurve_complex_description -x 1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_complex_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex5 -param $(arg barrier_type)Edge_complex_description -x 0 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)Edge_complex_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex6 -param $(arg barrier_type)Edge_complex_description -x -1 -y 2 -z 0 -Y 3.14159" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex5 -param $(arg barrier_type)EdgeCurve_complex_description -x -2 -y 2 -z 0 -Y 0" />
    <node name="$(arg barrier_type)Edge_complex_spawner7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex7 -param $(arg barrier_type)Edge_complex_description -x -2 -y 1 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)EdgeCurve_complex_spawner6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)EdgeCurve_complex6 -param $(arg barrier_type)EdgeCurve_complex_description -x -2 -y 0 -z 0 -Y 1.5707" />
    <node name="$(arg barrier_type)Edge_complex_spawner8" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg barrier_type)Edge_complex8 -param $(arg barrier_type)Edge_complex_description -x -1 -y 0 -z 0 -Y 0" />
</launch>
