<?xml version="1.0"?>
<model>
  <name>Inspection World Water Table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Chris Iverach-Brereton</name>
    <email>civerachb@clearpathrobotics.com</email>
  </author>

  <description>
    A water table for the inspection world so that we can simulate a Heron in it
  </description>

</model>
